* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text {
  background: yellow;
  color: black;
  font-size: 14px;
  margin-bottom: 20px;
}
.span_text {
  font-weight: 900;
  color: blue;
}

body {
  background-color: #333;
  color: aliceblue;
}

.App {
  text-align: center;
  /* margin-top: 20px; */
  /* margin-bottom: 50px; */
  position: relative;
  /* padding: 20px; */
  background-color: #1abc9c;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskBg {
  border-radius: 6px;
  height: fit-content;
  margin: 5px;
  padding: 5px 140px 10px 5px;
  text-align: left;
  font-size: 22px;
  position: relative;
  width: fit-content;
}

.import {
  background-color: #e74c3c;
  border: 1px solid #999;
}

.curr {
  background-color: #1abc9c;
  border: 1px solid #999;
}
.form-control {
  margin-bottom: 20px;
  /* max-width: 545px; */
  border: 1px solid black;
}

.taskNumber {
  position: absolute;
  top: 0;
  left: 0;
  color: #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-radius: 0 0 50% 0;
  width: 22px;
  height: 22px;
  display: flex;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.taskBg .taskText {
  /* flex: 1; */
  margin-left: 25px;
}

.taskBg:has(.done) {
  background-color: white;
  border: 1px solid #999;
}

.taskBg .done .taskText {
  color: gray;
  text-decoration: line-through;
  font-style: italic;
  opacity: 0.4;
}

.taskBg .done .taskNumber {
  /* opacity: 0; */
  display: none;
}

.taskBg .done .import,
.taskBg .done .curr {
  background-color: white;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  color: #999;
  opacity: 0.4;
}

.taskBg:hover .iconsWrap span {
  /* color: yellow; */
  color: #999;
  opacity: 1;
}

.taskBg:hover .taskNumber {
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.ch_importance,
.ch_calendar {
  max-width: 165px;
  /* margin: 0 5px; */
}
.select {
  width: 150px;
  color: black;
}

.ch_importance select,
.ch_calendar select {
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px;
}

.import {
  background-color: #e74c3c;
}

.curr {
  background-color: #1abc9c;
}

.btn-success {
  background-color: #1abc9c;
  width: 300px;
  height: 50px;
  border-radius: 23px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.btn-warning {
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
  color: white;
  width: 300px;
  height: 50px;
  border-radius: 23px;
  margin-right: 0px;
  margin-top: 25px;
}

.btn-warning:hover {
  color: white;
}

.row {
  /* display: flex; */
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.row input {
  margin-right: 0;
}

.col {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
}
.col input {
  font-size: 22px;
}

.col-auto {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  margin-bottom: 20px;
  margin-left: 50px;
  gap: 10px;
}

.formTable {
  /* display: flex; */
  /* justify-content: space-between; */
  background: #ecf0f1;
  padding: 20px 62px 10px 62px;
  border-radius: 20px;
  max-width: 1088px;
  margin: 0px auto;
}

.days {
  display: flex;
  max-width: 1088px;
  background: white;
  border-radius: 20px;
  border: none;
  margin: 10px auto;
  gap: 10px;
}

.days p {
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin: 0;
  background: #34495e;
  border-radius: 20px 0px 0px 20px;
  width: 80px;
  height: auto;
  padding: 5px;
  padding-left: 25px;
  border: 1px solid #34495e;
  color: white;
  /* cursor: pointer; */
}

.taskCont {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 10px; */
}

.ch_importance p,
.ch_calendar p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  /* color: black; */
  color: #1abc9c;
}

.dayName {
  display: flex;
  position: relative;
  font-size: 22px;
  font-weight: 900;
}

.del_day {
  display: none;
  position: absolute;
  text-align: center;
  top: -10px;
  left: 0px;
  color: #e74c3c;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.del_underline {
  position: absolute;
  top: 0px;
  left: 10px;
  border: 10px solid transparent;
  border-top: 10px solid #e74c3c;
}

.days:hover {
  box-shadow: 3px 3px 8px lightgrey, -3px -3px 8px lightgrey;
}

.dayName:hover .del_day,
.days:hover .del_day {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dayName:hover p,
.days:hover p {
  text-decoration: line-through;
  color: #e74c3c;
}

.dayName:hover .fa-trash-can,
.days:hover .dayName .fa-trash-can {
  animation: colorTrash 2s linear infinite;
}

.dayName:hover .del_underline,
.days:hover .del_underline {
  display: block;
  animation: scaleUnderline 2s linear infinite;
}

@keyframes scaleUnderline {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes colorTrash {
  from {
    color: transparent;
  }
  50% {
    color: #e74c3c;
  }
  to {
    color: #e74c3c;
  }
}

.footer {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.footer-wrapper a {
  color: #e74c3c;
  text-decoration: none;
}

.footer-wrapper {
  width: 100%;
  height: 30px;
  position: relative;
  overflow: hidden;
  transition: all 0.6s linear;
}

.footer-inner {
  width: 250px;
  height: 30px;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  /* выдвигается слева 
  top: 0;
   left: -250px;*/
  /* выдвигается снизу */
  left: calc(50% - 125px);
  bottom: -40px;
  transition: all 0.7s linear;
}

.footer-wrapper:hover .footer-inner {
  left: calc(50% - 125px);
  /* выдвигается снизу */
  bottom: 0px;
}

.footer-wrapper:hover {
  color: transparent;
}
